h1{
    color: red;
}

p{
    font-size: 17px;
    color: rgb(116, 71, 161);
    /* white-space: pre-line; */
}

dl{
    font-size: 17px;
    color: rgb(89, 0, 255);
}

*{
    background-color: rgba(255, 230, 0, 0.9);
}

span{
    color: rgb(15, 15, 7);
    display: inline-block;
    width: 90px;
}
