body {
    background-color: #ebebeb;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.wrapper1 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    margin: 35px auto;
    padding: 15px;
    max-width: 75%;
    text-align: center;
}


.image-section {
    display: flex;
    margin: 7px;
}

.wrapper2 {
    background-color: rgb(2, 0, 112);
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
    margin: 35px auto;
    padding: 15px;
    max-width: 75%;
    text-align: center;
}


a {
    cursor: zoom-in;
    border-radius: 50px;
    margin: 15px;
}

a:hover {
    size: 2rem;
}

.row {
    flex-direction: row;
}

.comments {
    color: #fff;
    text-align: center;
    font-size: 2.3rem;
    padding: 0;
    margin: 10px 0px 45px 0px;
}


textarea {
    width: 50%;
    align-items: center;
    font-size: 17px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 7px;
}

form button {
    background-color: rgb(236, 75, 241);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px;
    padding: 10px;
    width: 10%;
}

.cmtBtn {
    margin: 0px;
}

button:hover {
    background-color: rgb(167, 31, 172);
}


.comment-box ul {
    text-align: left;
    color: #fff;
}

.comment-box ul li {
    font-size: 24;
    margin: 25px;
}