h1 {
    margin: 20px 0px 20px 80px;
}

input[type=email],
input[type=password] {
    margin: 3px 0px;
}

input[type=email]:focus {
    width: 200px;
    padding: 3px 10px;
    background-color: lightblue;
}

input[type=password]:focus {
    background-color: lightblue;
    padding: 3px 8px;
}

input[type=checkbox] {
    margin: 12px 0px 0px 8px;
}

input[type=submit] {
    background-color: #06b60c;
    color: white;
    padding: 3px 10px;
    float: left;
    margin: 0px;
}

input[type="button"] {
    background-color: #06b60c;
    color: white;
    padding: 3px 10px;
}

button[type=submit] {
    background-color: #06b60c;
    color: white;
    padding: 3px 10px;
}

button.reset {
    background-color: #7cb80d;
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    float: left;
    margin: 0px 11px 0px 5px;
}

label.remMe {
    margin: 0px;
}

select.Country,
label.Country {
    margin: 7px 0px 0px 1px;
}

p.remMe {
    margin: 10px 19px -5px;
}

p.Email {
    margin: 0px 28px 0px 0px;
    display: inline-block;
}

p.Pass {
    margin: 0px 5px 0px 0px;
    display: inline-block;
}